* {
    font-family: 'Fira Sans' ,sans-serif;
}

div.container {
    padding: 3%;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

